$sidebar-width: 14rem;
$sidebar-width-mobile: 9rem;

$dark-fg-color: #dddddd;
$dark-hover-fg-color: #a0a0ff;
$dark-bg-color: #202020;
$light-shadow-color: #bebebe;
$light-shine-color: #ffffff;
$light-inside-shadow-color: #c8c8c8;
$light-inside-shine-color: #eaeaea;
$dark-shadow-color: #1b1b1b;
$dark-shine-color: #252525;
$dark-inside-shadow-color: #141414;
$dark-inside-shine-color: #2c2c2c;
$dark-outline-selected-color: #32669a;

$light-fg-color: #202020;
$light-fg-color-disabled: #707070;
$light-bg-color: #dddddd;
$light-bg-color-selected: #d0dbe6;

$radius: 0.3rem;
$shadow-radius: 0.3rem;
$shadow-inside-radius: 0.05rem;

