#sidebar-toggle {
    border: 1px solid #f00;
    /*visibility: hidden;*/
}

#burger::after {
    text-align: right;
    font-size: 2rem;
    color: #ff0;
    content: "☰";
}

#sidebar-toggle:checked ~ aside {
    width: 4rem;
    height: 4rem;
}
